<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3074546148-e6j2nfjha4i9fg619osjadr7dfbb22t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3074546148-e6j2nfjha4i9fg619osjadr7dfbb22t8</string>
	<key>API_KEY</key>
	<string>AIzaSyAS_rqUlXzQyJxiSfffO3nIUlIriB4BU3M</string>
	<key>GCM_SENDER_ID</key>
	<string>3074546148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-d267c</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-d267c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3074546148:ios:eee9f79784a3a08ea90ff1</string>
</dict>
</plist>